/* css styles */
.navbar {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef); /* Verlaufeffekt */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 3D-Schatten */
    border-bottom: 1px solid #ddd;
}

.navbar a {
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Text leicht abheben */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth Transition */
}

.navbar a:hover {
    background: #ddd; /* Hover-Effekt */
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2); /* Vertiefter Effekt bei Hover */
    text-shadow: none;
}

/* Stil für die aktive Seite */
.navbar .active {
    color: #ffffff; /* Weiße Schrift für die aktive Seite */
    background-color: #343a40; /* Dunkler Hintergrund für die aktive Seite */
    text-shadow: none;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3); /* Vertiefter Effekt */
}
/* Styling für die Suchlupe */
.navbar i.bi-search {
    color: #000000; /* Standardfarbe */
    font-size: 1.5em; /* Größe der Lupe */
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Sanfter Übergang */
}

/* Hover-Effekt für die Suchlupe */
.navbar i.bi-search:hover {
    color: #000000; /* Weiße Farbe bei Hover */
    background-color: #343a40; /* Dunkler Hintergrund bei Hover */
    border-radius: 50%; /* Runde Form */
}

/* Fokuszustand für die Suchlupe */
.navbar i.bi-search:focus {
    color: #000000; /* Weiße Farbe bei Fokus */
    background-color: #495057; /* Noch dunklerer Hintergrund bei Fokus */
    border-radius: 50%;
}
