/* css styles */


.navbar {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef); /* Verlaufeffekt */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 3D-Schatten */
    border-bottom: 1px solid #ddd;
}

.navbar a {
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Text leicht abheben */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth Transition */
}

.navbar a:hover {
    background: #ddd; /* Hover-Effekt */
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2); /* Vertiefter Effekt bei Hover */
    text-shadow: none;
}

/* Stil für die aktive Seite */
.navbar .nav-item .nav-link.active {
    color: #ffffff !important; /* Weiße Schrift für die aktive Seite */
    background-color: #343a40 !important; /* Dunkler Hintergrund für die aktive Seite */
    text-shadow: none;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3); /* Vertiefter Effekt */
}
/* Styling für die Suchlupe */
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    color: #000000 !important; /* Setze die Farbe auf Schwarz */
  }

  .navbar i.bi-search {
    color: #000000 !important; /* Standardfarbe der Suchlupe */
    font-size: 1.5em !important; /* Größe der Lupe */
    padding: 10px !important;
    transition: color 0.3s ease, background-color 0.3s ease !important; /* Sanfter Übergang */
}

/* Hover-Effekt für die Suchlupe */
.navbar i.bi-search:hover {
    color: #ffffff !important; /* Weiße Farbe bei Hover */
    background-color: #343a40 !important; /* Dunkler Hintergrund bei Hover */
    border-radius: 50% !important; /* Runde Form */
}

/* Fokuszustand für die Suchlupe */
.navbar i.bi-search:focus {
    color: #ffffff !important; /* Weiße Farbe bei Fokus */
    background-color: #495057 !important; /* Noch dunklerer Hintergrund bei Fokus */
    border-radius: 50% !important;
}
svg.aa-SubmitIcon {
    color: #000000 !important;
  }


